.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-image {
    width: 100%;
    min-width: 200px;
    border-radius: 10%;
    height: auto;
}

.profile-image-container {
    width: 40%;
    min-width: 200px;
    max-width: 400px;
    margin-left: 20px;
}

.profile-image-border-3 {
    border: 2px solid #4db0d2;
    min-width: 220px;
    border-radius: 10%;
    padding: 10px;
}

.profile-image-border-2 {
    border: 2px solid #4db0d2;
    min-width: 240px;
    border-radius: 10%;
    padding: 10px;
}

.profile-image-border-1 {
    border: 2px solid #add8e6;
    min-width: 260px;
    border-radius: 10%;
    padding: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
}

.info-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.info-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.hello {
    margin-bottom: 0px;
}

.name {
    margin-top: 0px;
}
