.buttonBorder1 {
    border: 2px solid #add8e6;
    border-radius: 10px;
    padding: 4px;
}

.buttonBorder2 {
    border: 2px solid #4db0d2;
    border-radius: 10px;
    padding: 4px;
}

.buttonBorder3 {
    border: 2px solid #4db0d2;
    border-radius: 10px;
    padding: 4px;
}
.socialMediaContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .socialMediaContainer {
        flex-direction: column;
    }
}