.container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    margin-inline: calc(0.5vw + 10px);
    gap: calc(0.5vw + 10px);
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
